body {
  background: linear-gradient(90deg, #9d4ba1 0%, #dd875a 100%);
  background-size: 200% 200%;
  animation: moveGradient 20s infinite ease;
  margin: 0%;
}

#margin {
  margin: 0% 5%;
}

@keyframes moveGradient {
  0% {
    background-position: 100% 0%;
  }
  25% {
    background-position: 25% 25%;
  }
  50% {
    background-position: 0% 100%;
  }
  75% {
    background-position: 25% 25%;
  }
  100% {
    background-position: 100% 0%;
  }
}

header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 200px;
  height: 60px;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 100px;
  padding-left: 40px;
  padding-right: 20px;
  justify-content: space-between;
  /*border: 3px solid #444444;*/
}

nav ul {
  list-style: none;
}

li {
  display: inline-block;
  color: white;
  border: 1px solid #e1e0c9;
  border-radius: 200px;
  padding: 7px;
  font-family: Noto Sans, sans-serif;
  font-size: 20px;
  margin: 0 5px;
  transition: 300ms;
}

li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #4c4c4c;
}

body::-webkit-scrollbar-thumb {
  background: goldenrod;
}

main {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 120px 120px 0 0;
  /*border: 4px solid #444444;*/
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 200px;
}

.bigTitle {
  text-align: center;
  font-size: 100px;
  font-family: Noto Sans, sans-serif;
}

.paragraph {
  text-align: center;
  font-size: 25px;
  font-family: Noto Sans, sans-serif;
  margin-bottom: 170px;
}

.bigTitleRight {
  text-align: right;
  font-size: 100px;
  font-family: Noto Sans, sans-serif;
}

.paragraphRight {
  text-align: right;
  font-size: 25px;
  font-family: Noto Sans, sans-serif;
  margin-bottom: 170px;
}

footer {
  padding: 60px 0 60px 0;
  background-color: #444444;
  width: 100%;
}

.annotations {
  font-family: Noto Sans, sans-serif;
  color: #c1b9bf;
  font-size: 15px;
}

.card {
  display: flex;
  width: 60vh;
  height: 25vh;
  background-color: lightblue;
  border-radius: 50px;
  margin: 2vh;
  transition: 300ms;
  background-position: center;
  background-size: cover;
}

.overlay {
  display: flex;
  font-family: Noto Sans, sans-serif;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  /*background-color: black;*/
  width: 100%;
  height: 100%;
  border-radius: 50px;
  opacity: 0;
  transition: 300ms;
  background: rgba(0, 0, 0, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
}

.card:hover {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2), 0 24px 80px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
}

.card:hover .overlay{
  opacity: 1;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5vh;
  justify-content: center;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.socials div {
  font-family: Noto Sans, sans-serif;
  font-size: 50px;
  text-align: center;
}

.socials div a{
  transition: 500ms;
}

.socials div:hover a{
  color: goldenrod;
}

#webtime {
  background-image: url("img/webtime.png");
}

#snake {
  background-image: url("img/snake.png");
}

.overlay a {
  transition: 500ms;
}

.overlay a:hover{
  color: goldenrod;
}